.Title {
  text-align: center;
}
* {
  background-color: rgb(47, 138, 210);
  text-align: center; /* center the Title element horizontally */
  margin-top: 20px; /* add some space between the cookie and the Title */
  }
#cookie-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100px;
  height: 100px;
}

#cookie {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: spin 1s infinite linear;
}

#cookie-container.popped {
  transform: scale(1.2); /* increase the scale when the "popped" class is added */
}

#cookie.popped {
  transform: scale(1.5); /* increase the scale when the "popped" class is added */
}

@keyframes spin {
  from {transform: rotate(0deg);}
  to {transform: rotate(360deg);}
}

